@import "tailwindcss";

@theme {
  --font-sans: "Outfit", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-brand-primary: #d70f64;   /* Foodpanda Pink */
  --color-brand-secondary: #ff2b85; /* Vibrant Pink */
  --color-brand-dark: #3f021e;      /* Deep Maroon */
}

/* Custom globally useful map layout settings */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Smooth custom transitions */
.page-transition {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

